<center>
	{% extends "myapp/base.html" %}
	<br>
	<br>
	<br>
	<br>
	{% block content %}
	<br>
	<br>
	<div style="text-align: center;">
	   <h2><span style="color: brown; font-size: 26px;">{{"STUDENT LIST:"}} </span> </h2>
	</div>
 </center>
 <center>
	<div style="border-left: auto;">
	   <ul>
		  <br>
		  {% for student in students %}
		  <table style="border-collapse: collapse; width: 30%; height: 62px;">
			 <tbody>
				<tr>
				   <td style="width: 25%;"> <b><span style="color: white; font-size: 20px;"> FULL NAME:    </span> <b></b> </td>
				   <td style="width: 55%;"> <span style="color: brown; font-size: 20px;">{{student.first_name}} {{student.surname}}</span>  </td>
				   <td style="width: 20%;"> <a href="student/{{student.id}}"><i><span style="color:white; font-size: 16px;">{{"  "}} {{"Details"}} </span></i></a> </td>
				</tr>
			 </tbody>
		  </table>
		  {% endfor %}
	   </ul>
	</div>
 </center>
 <center>
	<br>	
	{% endblock %}
 </center>
 
 