<center>
	{% extends "myapp/base_after_fake.html" %}
	<br>
	<br>
	<title>{% block title %} Subject Details {% endblock %} </title>
	<br>
	<br>
	<br>
	<br>
	<table style="border-collapse: collapse; width: 42.0594%; height: 258px; text-align: left;">
	   <tbody>
		  {% block content %}
		  <br>
		  <br>
		  <tr>
			 <td style="width: 100%;">
				<h3><span style="color: brown">{{"ID:   "}} </span><b> {{subject.sub_id}}</b></h3>
			 </td>
		  </tr>
		  <tr>
			 <td style="width: 100%;">
				<h2><span style="color: brown">{{"SUBJECT NAME:   "}} </span><b>{{subject.sub_name}}</b></h2>
			 </td>
		  </tr>
		  <tr>
			 <td style="width: 100%;">
				<h2><span style="color: brown">{{"STUDENTS:   "}}</span></h2>
			 </td>
		  </tr>
		  <tr>
			 {% for student in subject.students.all %} 
		  <tr>
			 <td style="width: 100%;">
				<h3>
				   <span style="color: white">
					  <li>{{student}}<br/>{% endfor %}</li>
				   </span>
				</h3>
			 </td>
		  </tr>
		  <tr>
			 <br>
			 <br>
			 {% endblock %}
		  </tr>
	   </tbody>
	</table>
 </center>
 
 